/*Define las caracteristicas del html*/
html{
    font-size: 15px;
    background-color: #d5bfeb;
    font-family:"Open-sans",sans-serif;
}

/*Define las caracteristicas que tendra el body*/
body {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border-style: double;
    border-color: rgb(34, 101, 133);
    background-color: #f5efe6;
    font-size: 20px;
    letter-spacing: 1px;
}

/*Define las caracteristicas que tendran los parrafos y las listas*/
p,li{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    width: 600px;
}

/*Define como seran las etiquetas de la h1-h4*/
    h1{
        font-size: 60px;
        text-align: center;
        color: rgb(0, 0, 0); 
        margin: 0;
        padding: 20px 0;
    }

    h2{
        font-size: 15px;
        color: rgb(165, 55, 255);
        }

    h3{
        font-size: 30px;
        margin-left: 10px;
        color: rgb(196, 0, 130);
        text-align: justify;
    }

    h4{
        font-size: 25px;
        margin-left: 50px;
        text-align: justify;
        color: blue;
    }

/*Dice que las imagenes se colocaran a la derecha*/
img{
    float: right;
}

/*Define que la clase indice tendra cierto borde y tamaño*/
.indice{
    border-style:double ;
    border-color: rgb(140, 52, 240);
    width: 600px;
    margin: auto;
}
